PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/waste_exchange
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_token_key_here
ADMIN_REGISTRATION_SECRET=admin_secret_key_ideathon_2026
NODE_ENV=development
